/* HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA

HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHAHAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA

HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA

HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA

HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA

HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
HAHAHHAHAHAHHAHHAHAAHAHAHAHAHAHA
   "hi */

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
